name: Docker

on:
  push:
    tags:
    - v**
    branches:
    - master
  pull_request:

env:
  REGISTRY: ghcr.io

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    if: ${{ github.repository == 'duhow/mdlz80optimizer' }}
    steps:
    - uses: actions/checkout@v3
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
        registry: ${{ env.REGISTRY }}
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Install xml2 dependency
      run: |
        if ! command -v xml2; then
          sudo apt update
          sudo apt install -y xml2
        fi
    - name: Get version
      id: version
      run: echo "::set-output name=version::$(xml2 < pom.xml | awk -F '=' '/\/project\/version=/ {print $2}')"
    - name: Generate Docker meta names
      uses: docker/metadata-action@v4
      id: meta
      with:
        images: ${{ env.REGISTRY }}/${{ github.repository }}
        tags: |
          type=ref,event=tag
          type=raw,enable=${{ !startsWith(github.ref, 'refs/tags/') }},value=master
        flavor: |
          latest=true
        labels: |
          org.opencontainers.image.version=${{ steps.version.outputs.version }}
    - name: Build Docker
      uses: docker/build-push-action@v3
      with:
        #push: ${{ github.event_name != 'pull_request' }}
        push: true
        context: .
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
